<div id="footer">
  <div class="container">
    <p class="pull-left">&copy; Shelby Sturgis &middot;
      <a href="#">Privacy</a> &middot; <a href="#">Terms</a>
    </p>
    <div style="position: fixed; left: 45%; bottom: 10px;">
      <div class="social-icons">
        <a href="https://github.com/stormpython" alt="f200" class="genericon genericon-github hidden-xs"></a>
      </div>
      <div class="social-icons">
        <a href="https://twitter.com/stormpython" alt="f202" class="genericon genericon-twitter hidden-xs"></a>
      </div>
      <div class="social-icons">
        <a href="https://www.linkedin.com/pub/shelby-sturgis/10/49b/a34"
           alt="f207" class="genericon genericon-linkedin hidden-xs"></a>
      </div>
    </div>
  </div>
</div>
