div#table {
    height: 100%;
    overflow: scroll;
}

body {
    /*font: 20px sans-serif;*/
    fill: #444;
    overflow: scroll;
}

.bubbles {
    font: 10px sans-serif;
}

.description > p {
    color: #444;
    text-align: left;
    margin-left: 100px;
}

#tooltip {
    position: absolute;
    width: auto;
    height: auto;
    padding: 10px;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
}

#tooltip.hidden {
    display: none;
}

#tooltip p {
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    shape-rendering: crispEdges;
}
