{% extends "layout.html" %}
{% block body %}
    <div class="reveal">
        <div class="slides">

            <section>Single Horizontal Slide</section>
            <section>
                <section>Vertical Slide 1</section>
                <section>Vertical Slide 2</section>
            </section>
            <section data-markdown>
                <script type="text/template">
                    ## Page title

                    A paragraph with some text and a [link](http://hakim.se).
                </script>
            </section>

        </div>
    </div>
    {% include "reveal.html" %}
{% endblock %}